*
{
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.main_name {
	display: grid;
	place-items: center;
	font-size: 300%;
	font-family: "Dancing Script";
}
.city_name {
	font-size: 175%;
}
.about_city {
	font-size: 125%;
}
.cities {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	margin: 5px;
}
.city_img {
	width: 65vh;
	border-radius: 10%;
}
.Lviv, .Kyiv, .Odesa {
	display: grid;
	grid-template-rows: 2.7fr 0.3fr 1fr;
=======
.main{
	background-color:#35F0E2;
	height: 120vh;
	width: 205vh;
	display: flex;
	font-family: 
}
.photo{
	height: 75vh;
	width: 100vh;
}
.gerb{
	display: flex;
>>>>>>> origin/kyiv
}
=======

* {
    margin: 0;
    padding: 0;  
}

body {
    background-image: url("https://lviv.travel/image/news/86/e0/86e0a24aa2346d72e1df09419d4f591ac2718cd2_1689665185.jpg?crop=5965%2C3210%2C4%2C366");
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Vina Sans', sans-serif;

    
}

h1 {
    margin-top: 10px;
}

.article {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 800px;
    height: 600px;
}

img {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

>>>>>>> origin/lviv
=======

.main{
	width: 200vh;
	height: 100vh;
	background-color: #75B2EE;
}
.al_photo{
	height: 100vh;
}
.container{
	display: flex;
}
.gerb-img{
	height: 150px;
	padding-top: 345px;
}
.gerb{
	display: flex;
}
p{
	font-size: 21px;
}
.prapor{
	width: 300px;
	padding-top: 0px;
}
>>>>>>> origin/odesa
